// place your custom styles here
:root {
  --back-to-top-z-index: 5;
  --back-to-top-icon: url('/assets/icon/back-to-top.svg');
  --back-to-top-c-bg: var(--vp-c-bg);
  --back-to-top-c-accent-bg: var(--vp-c-accent-bg);
  --back-to-top-c-accent-hover: var(--vp-c-accent-hover);
  --back-to-top-c-shadow: var(--vp-c-shadow);
  --back-to-top-c-icon: currentcolor;
}

//主页技术侦探样式调整
.vp-hero-info{
  z-index: 1;
  width: 100%;
  padding-inline: 2.5rem;
  height: 650px;
}

